/* Default size for desktop */
table {
    width: 60%;
    color: var(--color-font-dark);
}

/* Smaller screens (tablets) */
@media (max-width: 768px) {

    table {
        width: 80%;
    }
}

/* Very small screens (phones) */
@media (max-width: 480px) {
    table {
        width: 100%;
    }
}