.occupancy-indicator-background {
    width: 80%;
    height: 30px;
    background-color: #ddd;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.occupancy-indicator-foreground {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    line-height: 20px;
    border-radius: 10px;
}


h2 {
    font-size: 30px; 
    color: var(--color-font-dark);
}

@media only screen and (max-width: 768px) {
    h2 {
        font-size: 25px; 
    }
}

@media only screen and (max-width: 480px) {
    h2 {
        font-size: 20px; 
    }
}
