<div class="container mt-4">
    <h1>About</h1>

    <div class="row">
        <div class="col">
            <p>
                The University of Dundee Library Occupancy Tracker (Libusy) is a progressive web application developed
                as part of David Topping's final year honours project in computing science. It is designed to address
                the challenge of finding a quiet study space in the university library, especially during peak times
                like exam periods. Using a combination of an Internet of Things (IoT) sensor and live data from
                turnstile gates, the application provides real-time occupancy information for various sections of the
                library as well as predicting the occupancy of each section. This allows students to make informed
                decisions on when and where to study by avoiding crowded areas.
            </p>

        </div>
    </div>




</div>