.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.row {
    flex: 0 1 auto;
    width: 100%;
    margin: 0;
}

.col {
    flex: 1;
}

#uod-logo {
    width: clamp(50%, 60vw, 300px);
}

h1 {
    font-size: clamp(2rem, 5vw, 3rem);
}