.btn-selected {
    // color: white;
    background-color: var(--color-background-blue);
}
.btn-current-day {
    /* Remove the text-decoration line if it's no longer needed */
    position: relative; /* Ensures that the pseudo-element is positioned relative to the button */
}

.btn-current-day::after {
    content: ''; 
    position: absolute; 
    bottom: -2px; 
    left: 5px; /* Adjust this value as needed */
    right: 5px; /* Adjust this value as needed */
    height: 2px; 
    background-color: var(--color-blue); 
}
