#uni-crest {
    width: 20vw;
}

h1 {
    font-size: 60px; 
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 48px;
    }
}

@media only screen and (max-width: 480px) {
    h1 {
        font-size: 36px; 
    }
}
