<mdb-accordion [flush]="true">
    <ng-container *ngIf="(sectionData$ | async) as sectionData">
        <ng-container *ngFor="let section of sectionData; let i = index">
            <ng-container *ngIf="section.section_id !== 1">
                <mdb-accordion-item [collapsed]="i !== 1">
                    <ng-template mdbAccordionItemHeader>
                        {{ section.description }}
                        <app-occupancy-description-badge [sectionData]="section"> </app-occupancy-description-badge>
                    </ng-template>
                    <ng-template mdbAccordionItemBody>
                        <app-section-graph [sectionData]="section"></app-section-graph>
                    </ng-template>
                </mdb-accordion-item>
            </ng-container>
        </ng-container>
    </ng-container>
</mdb-accordion>