<mdb-accordion [flush]="true">

    <mdb-accordion-item [collapsed]="false">
        <ng-template mdbAccordionItemHeader>Ground Floor: Group Study</ng-template>
        <ng-template mdbAccordionItemBody>
            <app-section-graph></app-section-graph>
        </ng-template>
    </mdb-accordion-item>

    <!-- Other accordion items remain unchanged, with collapsed property omitted so they are closed by default -->
    <mdb-accordion-item>
        <ng-template mdbAccordionItemHeader>1st Floor: Group Study</ng-template>
        <ng-template mdbAccordionItemBody>
            <app-section-graph></app-section-graph>
        </ng-template>
    </mdb-accordion-item>

    <mdb-accordion-item>
        <ng-template mdbAccordionItemHeader>1st Floor: Quiet Study</ng-template>
        <ng-template mdbAccordionItemBody>
            <app-section-graph></app-section-graph>
        </ng-template>
    </mdb-accordion-item>

    <mdb-accordion-item>
        <ng-template mdbAccordionItemHeader>1st Floor: Quiet Study</ng-template>
        <ng-template mdbAccordionItemBody>
            <app-section-graph></app-section-graph>
        </ng-template>
    </mdb-accordion-item>

    <mdb-accordion-item>
        <ng-template mdbAccordionItemHeader>2nd Floor: Group Study</ng-template>
        <ng-template mdbAccordionItemBody>
            <app-section-graph></app-section-graph>
        </ng-template>
    </mdb-accordion-item>

    <mdb-accordion-item>
        <ng-template mdbAccordionItemHeader>2nd Floor: Silent Study</ng-template>
        <ng-template mdbAccordionItemBody>
            <app-section-graph></app-section-graph>
        </ng-template>
    </mdb-accordion-item>

</mdb-accordion>