/* Customizing navbar color */
.navbar {
    background-color: var(--color-blue) !important;
}

/* Customizing navbar link and icon colors */
.nav-link,
.navbar-toggler {
    color: var(--color-font-light);
    font-size: 20px;
}

.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
}