th {
    font-size: 16px;
    margin-top: 0;
    padding-top: 0;
}

td {
    --color: rgba(59, 59, 59, 0.4);
}

.current-hour {
    --color: rgba(61, 99, 235);
}

::ng-deep .popover {
    background-color: var(--color-background-blue);
}

@media (max-width: 768px) {
    th {
        font-size: 14px;
        margin-top: 0;
        padding-top: 0;
    }
}

@media (max-width: 535px) {
    th {
        font-size: 11px;
        padding: 0;
        margin-top: 0;
    }
}

@media (max-width: 490px) {
    th {
        font-size: 11px;
        padding: 0;
        margin-top: 0;
    }
}

@media (max-width: 400px) {
    th {
        font-size: 8px;
        padding: 0;
        margin-top: 0;
    }
}

@media (max-width: 310px) {
    th {
        font-size: 0px;
        padding: 0;
        margin-top: 0;
    }
}