th {
    font-size: 16px;
    margin-top: 0;
    padding-top: 0;
}

td {
    --color: rgba(59, 59, 59, 0.4);
}

.current-hour {
    --color: rgba(61, 99, 235, 0.8);
}


/* Smaller screens (tablets) */
@media (max-width: 768px) {
    th {
        font-size: 14px;
        margin-top: 0;
        padding-top: 0;
    }
}

/* Very small screens (phones) */
@media (max-width: 480px) {
    th {
        font-size: 9px;
        padding: 0;
        margin-top: 0;
    }
}